body{
	text-align: center;
	margin: 0 15%;
    width: 75%;
    border: 2px solid blue;
}

h1 {
	background-color: LightGray;
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

h2 {
	background-color: LightGray;
    font-style: italic;
    margin: 0;
    padding: 0;
}